{% doc %}
  @param {image} desktop_image - The image object shown on desktop.
  @param {image} [mobile_image] - An optional image object for mobile viewports.
  @param {string} [class] - Optional class(es) to be added to the picture element.
  @param {string} [id] - A unique identifier used to scope CSS custom properties (e.g., section.id or block.id).
  @param {string} [fit] - The CSS object-fit value (e.g., "cover", "contain").
  @param {string} [attributes] - Pixel value used when `border_radius` is "custom".
  @param {string} [desktop_width]
  @param {string} [mobile_width]
  @param {string} [height]
  @param {link} [url]

  @example
  {% render 'image-block',
    id: section.id,
    class: 'my-image',
    desktop_image: section.settings.desktop_image,
    mobile_image: section.settings.mobile_image,
    fit: 'cover',
    border_radius: '8',
    custom_border_radius: 12
  %}
{% enddoc %}

{% unless desktop_width or mobile_width %}
  {% if mobile_image %}
    {% assign mobile_sizes = '375,500,840' | split: ',' %}
    {% capture mobile_sources %}
      {%- for size in mobile_sizes -%}
        <source media="(max-width: {{ size }}px)" srcset="{{ mobile_image | image_url: width: size }}">
      {%- endfor -%}
    {% endcapture %}
  {% endif %}

  {% if desktop_image %}
    {% assign desktop_sizes = '1024,1440,1920' | split: ',' %}
    {% capture desktop_sources %}
      {%- for size in desktop_sizes -%}
        <source media="(max-width: {{ size }}px)" srcset="{{ desktop_image | image_url: width: size }}">
      {%- endfor -%}
    {% endcapture %}
  {% endif %}
{% endunless %}

{% stylesheet %}
  .image-block {
    overflow: hidden;
    border-radius: var(--border-radius, 0);
  }
{% endstylesheet %}

{% if desktop_image or mobile_image %}
  {% capture image_element %}
    <picture class="image-block image-block-{{ id }} {{ class }}" {{ attributes }}>
    {% unless desktop_width or mobile_width %}
      {{ mobile_sources }}
      {{ desktop_sources }}
    {% endunless  %}
    {% if desktop_width or mobile_width %}
      <source media='(max-width: 768px)' srcset='{{ mobile_image | image_url: width: mobile_width | default:"500" }}'>
    {% endif %}
      <img
        src="{{ desktop_image | image_url: width: desktop_width | default: '2560' }}"
        alt="{{ desktop_image.alt | escape }}"
        width="{{ desktop_width | default: '100%' }}"
        height="{{ height | default: '100%' }}"
        style="object-fit: {{ fit }};"
        class="h-full w-full">
    </picture>
  {% endcapture %}

  {% if url %}
    <a href='{{ url }}'>
      {{ image_element }}
    </a>
  {% else %}
    {{ image_element }}
  {% endif %}
{% endif %}
